In [7]:
def make_incrementor(n):
    return lambda x: x*n
f = make_incrementor(12) # f= lambda x: x*12
print(f(12)) # 12*12

144

In [25]:
class Point:

    """
    THIS IS A DOC STRING
    """
    __match_args__ = ('x','y')
    def __init__(self,x,y) -> None:
        self.x = x
        self.y = y
    
point = (0,0)
match point:
    case (0,0):
        print('ORIGIN')
    case (0,y):
        print(f"Y={y}")
    case (x,0):   
        print(f"X={x}")
    case (x, y):
        print(f"X={x}, Y={y}")

ORIGIN

In [23]:
new_point = Point(12,3)

In [5]:
#Lists 
newList = list([i for i in range(1,100,2)])
print(newList)
newList.index(13)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

6

In [6]:
newList.pop(newList.index(13))
newList

[1,
 3,
 5,
 7,
 9,
 11,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [7]:
from collections import deque
queue = deque(newList)
queue.append(999)

In [8]:
queue

deque([1,
       3,
       5,
       7,
       9,
       11,
       15,
       17,
       19,
       21,
       23,
       25,
       27,
       29,
       31,
       33,
       35,
       37,
       39,
       41,
       43,
       45,
       47,
       49,
       51,
       53,
       55,
       57,
       59,
       61,
       63,
       65,
       67,
       69,
       71,
       73,
       75,
       77,
       79,
       81,
       83,
       85,
       87,
       89,
       91,
       93,
       95,
       97,
       99,
       999])

In [12]:
queue.popleft()

7

In [13]:
list_comp = list(map(lambda x: x**3+3*x+12, range(1,200,3)))
list_comp

[16,
 88,
 376,
 1042,
 2248,
 4156,
 6928,
 10726,
 15712,
 22048,
 29896,
 39418,
 50776,
 64132,
 79648,
 97486,
 117808,
 140776,
 166552,
 195298,
 227176,
 262348,
 300976,
 343222,
 389248,
 439216,
 493288,
 551626,
 614392,
 681748,
 753856,
 830878,
 912976,
 1000312,
 1093048,
 1191346,
 1295368,
 1405276,
 1521232,
 1643398,
 1771936,
 1907008,
 2048776,
 2197402,
 2353048,
 2515876,
 2686048,
 2863726,
 3049072,
 3242248,
 3443416,
 3652738,
 3870376,
 4096492,
 4331248,
 4574806,
 4827328,
 5088976,
 5359912,
 5640298,
 5930296,
 6230068,
 6539776,
 6859582,
 7189648,
 7530136,
 7881208]

In [16]:
list_comp2 = [(x,y) for x in [1,5,10] for y in [3,6,9] if x!=y]
list_comp2

[(1, 3), (1, 6), (1, 9), (5, 3), (5, 6), (5, 9), (10, 3), (10, 6), (10, 9)]

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
nested_list = [[row[i] for row in matrix] for i in range(1,10,2)]